DB_USER=tberti
DB_HOST=localhost
DB_NAME=ecommerce_rest_api
DB_PASSWORD=tberti
DB_PORT=5432
SESSION_SECRET=ff1f75f85459f474d522d57aec8d0a1165bd6bf29d8d6636f6a996c324d25ab6
CLIENT_ORIGIN=http://localhost:5173
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
TEST=
